@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Professor";
    src: url(/fontes/Professor\ Marbles\ 1_PersonalUseOnly.ttf);
    src: url(/fontes/Professor\ Marbles\ 2_PersonalUseOnly.ttf);
    src: url(/fontes/Professor\ Marbles\ 3_PersonalUseOnly.ttf);
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#FFFDD0;
    --cor01:#F1DEDE;
    --cor02:#545775;
    --cor03: #003E1F;
    --cor04: #BA2D0B;

    --fonte-destaque: 'Bebas Neue', sans serif;
    --fonte-professor: "Professor";
    --fonte-padrao: Arial, Verdana, Helvetica, sans serif;
    
}

body {
    font-family: var(--fonte-padrao);
}

header {
    text-align: center;
    background-color:var(--cor03);
    color: white;

}

header > h1{
    padding: 10px;
    font-family: var(--fonte-professor);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 3px 4px 1px black;
}

header > p{
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.2em;
}

nav{
    background-color: var(--cor03);
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 0px 7px 9px black;

}
 nav a:hover{
    background-color: rgba(47, 209, 47, 0.527);
    color: white;
    transition-duration: 0.3s;
}

main{
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    background-color: var(--cor0);
    border-radius: 15px;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.299);
    font-size: 1.1em;
    text-indent: 30px;
    text-align: justify;

}

main h2{
    padding: 10px;
    margin-bottom: 20px;
}
main h3{
    padding: 10px;
    vertical-align: top;
}

img.noticias{
    width: 250px;
    border-radius: 10px;
    margin-left: 15px;        
}
.imagens{
    display: flex;
    max-height: 500px;
    align-items: center;
}   
.imagens h3{
    max-width: 350px;
    text-align: center;
    color: black;
}
.imagens a{
    text-decoration: none;
}
.imagens h3:hover{
    text-decoration: underline;

}
main div{
    vertical-align: top;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button-container{
    background-color: var(--cor03);
    
}
footer{
    margin-top: 30px;
    background-color: var(--cor03);
    color: white;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    font-weight: bolder;
}
